# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Variáveis de ambiente
.env

# Configurações do VS Code
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db